global:
  scrape_interval: 10s
  external_labels:
    monitor: 'karbidsoft-monitoring'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis-exporter:9121']

  - job_name: 'fluent-bit'
    metrics_path: /api/v1/metrics/prometheus
    static_configs:
      - targets: ['fluent-bit:2020']

  - job_name: 'go-redis-app'
    static_configs:
      - targets: ['go-redis-app:8081']
